@model Model.Content.SubjectModel

@{
    ViewBag.Title = "AddData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    SelectList listsubj = ViewBag.ListSubject;
    SelectList listmod = ViewBag.ListModule;
    string mess = ViewBag.Message;
}
@section js
{
    @*<script>
        $(document).ready(function () {
            $('#SelectedSubject').change(function () {
                ModuleChanged();
            });
        });

    function ModuleChanged() {
        var moduleId = $('#SelectedSubject').val();

        $.get('@Url.Action("Module","AddData")' + "? idsu=" + moduleId,
            function (data) {
                $('#ListModule').html(data);
            });
    }
    </script>*@
    @*<script>
    function getCityList()
    {
            debugger;
            var stateId = $("#SelectedSubject").val();
            $.ajax
            ({
                url: '/AddData/GetModuleList',
               type: 'POST',
               datatype: 'application/json',
               contentType: 'application/json',
               data: JSON.stringify({
               stateId: +stateId
               }),
               success: function(result)
               {
                   $("#ListModule").html("");
                  $.each($.parseJSON(result), function(i, city)
                  {
                     $("#ListModule").append
                     ($('<option></option>').val(city.CityID).html(city.CityName))
                  })
                },
                error: function()
                {
                     alert("Whooaaa! Something went wrong..")
                },
            });
        }
    </script>*@
}
@section Header
{
    THÊM MỚI MODULE
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin module
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Index", "AddData", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Label("Chọn môn thi", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(model => model.SelectedSubject, listsubj, new { htmlAttributes = new { @class = "form-control" } })
                                <input type="submit" value="Load module" class="btn btn-default" />
                            </div>
                            <div class="form-group">
                                @Html.Label("Chọn module", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.DropDownListFor(model => model.SelectedModule, listmod, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.Label("Chọn file dữ liệu", htmlAttributes: new { @class = "control-label col-md-6" })

                                @Html.TextBox("file", "", new { type = "file" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Import dữ liệu" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("message", mess, new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
