@using Model.EF
@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Subject> listsub = ViewBag.LisSub;
}
@section Header
{
    DANH SÁCH MÔN THI
}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DANH SÁCH MÔN THI
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-lg-3">
                        <div class="form-group">
                                <a href="~/Admin/Subject/Create">Thêm mới môn thi</a>
                        </div>
                       
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Điều khiển</th>
                                <th>Tên môn thi</th>
                                <th>Mô tả</th>
                                <th>Khóa</th>
                                <th>Điểm thấp nhất</th>
                                <th>Điểm cao nhất</th>
                                <th>Quay lại</th>
                                <th>Số lần lặp lại</th>
                                <th>Số lần sử dụng môn thi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (listsub != null)
                            {
                                foreach (var item in listsub)
                                {
                                    <tr class="odd gradeX" id="row_@item.SubjectID" onload="loadstt()">
                                        <td>
                                            <a href="/Admin/Students/Edit/@item.SubjectID"> Sửa </a>
                                            |
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.SubjectID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này không?",
                                           OnComplete = "$('#row_" + @item.SubjectID + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                        <td>@item.SubjectNbr</td>
                                        <td>@item.Descr</td>
                                        <td>@(item.Locked ? "Bị khóa" : "Không khóa")</td>
                                        <td>@item.MinPoint</td>
                                        <td>@item.MaxPoint</td>
                                        <td>@(item.qBack ? "Cho phép quay lại" : "Không cho phép quay lại")</td>
                                        <td>@item.loop</td>
                                        <td>@item.MaxUsed</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>