@using Model.EF
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section hotnews
    {
        <asp:Repeater id="rptRSS">
            <ItemTemplate>
                <section id="banner" class="banner">
                    <div class="container">
                        <div class="row">
                            <div class="main_banner_area text-center">
                                <div class="col-md-12 col-sm-12">
                                    <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
                                        <h2>XIN CHÀO, CHÀO MỪNG BẠN ĐẾN VỚI HỆ THỐNG LUYỆN THI TRẮC NGHIỆM ONLINE</h2>
                                        <h5>Hệ thống luyện thi trắc nghiệm online</h5>

                                        <div class="separetor"></div>
                                    </div>
                                </div>


                                <div class="scrolldown">
                                    <a href="#abouts" class="scroll_btn"></a>
                                </div>
                            </div>


                        </div>
                    </div>
                </section><!-- End of Banner Section -->
                <!--Notification-->
                <section id="wedo">
                    <!--body tin tuc-->
                    <div class="container">
                        <div class="row">
                            <div class="head_title text-center wow zoomIn" data-wow-duration="0.5s">
                                <h1>THÔNG BÁO ĐÀO TẠO</h1>
                                <div class="separetor"></div>
                                <p>Các thông báo mới nhất của hệ đào tạo chính quy trường đại học Tiền Giang</p>
                            </div>
                            <div class="wedo_content_area">
                                @foreach (Post item in (List<Post>)ViewData["HotNews"])
                                {
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="single_wedo wow fadeIn" data-wow-duration="1s">
                                            <div class="single_left_icon">
                                                <img src="@item.Image" />
                                            </div>

                                            <div class="single_right_text">
                                                <h6>@item.Name</h6>
                                                <div class="separetor2"></div>
                                                <h7>@item.Description</h7><br />
                                                <h7>Ngày tạo: @item.CreatedDate</h7><br />
                                                <a href="@item.Alias">Xem chi tiết>></a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </section>
                <!--ADMIN-->

                <section id="testimonial" class="testimonial">
                    <div class="testimonial_overlay">
                        <div class="container">
                            <div class="row">
                                <div class="head_title text-center wow slideInDown" data-wow-duration="0.5s">
                                    <h2>NHÀ SÁNG LẬP</h2>
                                    <div class="separetorwhite2"></div>
                                    <h5>Website luyện thi trắc nghiệm</h5>
                                </div>
                                <div class="main_testimonial text-center wow fadeIn" data-wow-duration="1s">
                                    <div class="single_testimonial">
                                        <div class="single_testimonial_img">
                                            <img class="img-circle" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-0/p206x206/10418205_634582779982275_7805029259293430637_n.jpg?oh=ed91809883e5b9296ce049ef7c672805&oe=5A94F247" alt="" />
                                            <p>Thầy Nguyễn Văn Nối, thạc sĩ:..., trường đại học Tiền Giang</p>
                                            <a href="">TRƯỞNG DỰ ÁN</a>
                                        </div>
                                    </div>
                                    <div class="single_testimonial">
                                        <div class="single_testimonial_img">
                                            <img class="img-circle" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-1/p240x240/23032631_1892224684428911_6617638991376865636_n.jpg?oh=8956d2495365c8ecca1bc769e78ffd5d&oe=5A8D69C9" alt="" />
                                            <p>Sinh viên Phạm Trương Thị Tuyết Nhi, sinh viên khoa Công nghệ thông tin trường đại học Tiền Giang</p>
                                            <a href="">LẬP TRÌNH VIÊN</a>
                                        </div>
                                    </div>
                                    <div class="single_testimonial">
                                        <div class="single_testimonial_img">
                                            <img class="img-circle" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-0/p206x206/21768337_1288834374560452_1884314854673113492_n.jpg?oh=3b72565360391fc19734b4cc247ef7ff&oe=5A947F32" alt="" />
                                            <p>Sinh viên Lê Hoàng Chương, sinh viên khoa Công nghệ thông tin trường đại học Tiền Giang</p>
                                            <a href="">LẬP TRÌNH VIÊN</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Choose questions-->
                <section id="pricing">
                    <div class="container">
                        <div class="row">

                            <div class="head_title text-center wow slideInDown" data-wow-duration="0.3s">
                                <h1>CHỌN GÓI CÂU HỎI LUYỆN THI</h1>
                                <div class="separetor"></div>
                                <p>Chúng tôi có rất nhiều gói câu hỏi ở từng mức độ và giá khác nhau! Rất hân hạnh được phục vụ các bạn</p>
                            </div>
                            <div class="pricing_content_area choose_pricing_content_area text-center">

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="choose_single_pricing_text proffetional_price wow fadeIn" data-wow-duration="1s">
                                        <h3>Gói bạc</h3>
                                        <div class="choose_pricing_text">
                                            <p>Gói câu hỏi này gồm 100 câu hỏi và nhiều mức độ ở mỗi môn học.</p>
                                            <p class="price">10$<span>/3 tháng</span></p>
                                            <ul>
                                                <li>100 câu hỏi môn access</li>
                                                <li>100 câu hỏi môn excel</li>
                                                <li>100 câu hỏi môn word</li>
                                                <li>100 câu hỏi môn lý luận chính trị</li>
                                                <li>100 câu hỏi môn tiếng anh chuyên ngành</li>
                                                <li>Đạt 50% chất lượng đào tạo</li>
                                                <li>Điểm tối đa thi quốc tế 7 điểm</li>
                                            </ul>
                                            <a href="" class="btn btn-lg">Đăng kí</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="choose_single_pricing_text proffetional_price wow fadeIn" data-wow-duration="1.5s">
                                        <h3>Gói vàng</h3>
                                        <div class="choose_pricing_text">
                                            <p>Gói câu hỏi này gồm 300 câu hỏi và nhiều mức độ ở mỗi môn học.</p>
                                            <p class="price">20$<span>/3 tháng</span></p>
                                            <ul>
                                                <li>300 câu hỏi môn access</li>
                                                <li>300 câu hỏi môn excel</li>
                                                <li>300 câu hỏi môn word</li>
                                                <li>300 câu hỏi môn lý luận chính trị</li>
                                                <li>300 câu hỏi môn tiếng anh chuyên ngành</li>
                                                <li>Đạt 80% chất lượng đào tạo</li>
                                                <li>Điểm tối đa thi quốc tế 8.5 điểm</li>
                                            </ul>
                                            <a href="" class="btn btn-lg">Đăng kí</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="choose_single_pricing_text proffetional_price wow fadeIn" data-wow-duration="2s">
                                        <h3>Gói kim cương</h3>
                                        <div class="choose_pricing_text">
                                            <p>Gói câu hỏi này gồm 500 câu hỏi và nhiều mức độ ở mỗi môn học.</p>
                                            <p class="price">25$<span>/3 tháng</span></p>
                                            <ul>
                                                <li>500 câu hỏi môn access</li>
                                                <li>500 câu hỏi môn excel</li>
                                                <li>500 câu hỏi môn word</li>
                                                <li>500 câu hỏi môn lý luận chính trị</li>
                                                <li>500 câu hỏi môn tiếng anh chuyên ngành</li>
                                                <li>Đạt 100% chất lượng đào tạo</li>
                                                <li>Điểm tối đa thi quốc tế 10 điểm</li>
                                            </ul>
                                            <a href="" class="btn btn-lg">Đăng kí</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section><!-- End of choose Pricing Section -->
                <!--Contact us-->
                <section id="contact" class="contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="head_title text-center wow zoomIn" data-wow-duration="0.5s">
                                    <h1>Liên hệ với chúng tôi</h1>
                                    <div class="separetor"></div>
                                    <p>Hãy nói với chúng tôi suy nghĩ của bạn về thông tin chúng tôi đem đến! Xin chân thành cảm ơn!</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="messsage_contant">
                                <div class="col-md-7 col-sm-7">
                                    <div class="single_message_left wow fadeIn" data-wow-duration="1s">
                                        <form action="#" id="formid">
                                            <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="name" placeholder="Họ tên" required="">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <textarea class="form-control" name="message" rows="8" placeholder="Tin nhắn"></textarea>
                                            </div>

                                            <div class="center-content">
                                                <input type="submit" value="Gửi" class="btn btn-lg" id="send">
                                            </div>
                                            <!--</div>-->
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-5 col-sm-5">
                                    <div class="single_message_right wow fadeIn" data-wow-duration="1s">

                                        <p>
                                            <i class="fa fa-map-marker"></i>
                                            Trường đại học Tiền Giang
                                            <span>Nhánh cao tốc số 1, ấp Thân Bình, Thân Cửu Nghĩa, Châu Thành, Tiền Giang.</span>
                                        </p>
                                        <p><i class="fa fa-envelope-o"></i>daihoctg@tgu.edu.vn</p>
                                        <p><i class="fa fa-phone"></i>0273 3 872 624 - 0273 6 250 200</p>

                                    </div>
                                </div>
                            </div> <!-- End of messsage contant-->
                        </div>
                    </div>
                </section>
            </ItemTemplate>
        </asp:Repeater>

    }


